.hide-caret {
  .dropdown {
    &-toggle {
      &::after {
        display: none;
      }
    }
  }

  .nav {
    &-link {
      padding: 0;
    }
  }
}

.dropdown {
  &-menu {
    border-color: transparent;
    border-radius: 0.2em;
    box-shadow: 0 2px 10px fade-out($black, 0.9);
    font-size: 0.85em;
    margin-top: 0.5em;
    min-width: 16.5em;

    &-right {
      right: 1em;
    }
  }

  &-item {
    font-size: 1.15em;
    letter-spacing: 0.03em;
    padding: 0.8em 1.5em;
  }
}
